@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (CalendarState.Value.TagsLoaded)
{
    @foreach (TagDto tag in CalendarState.Value.Tags)
    {
        if (SelectedValues.Contains(tag.Id))
        {
            <span class="badge" style="background-color: @($"{tag.Color};")" @onclick="@(() => OnClick(tag.Id))">@tag.Name</span>
        }
        else
        {
            <span class="badge" style="background-color: @($"{tag.Color}; opacity: 0.5;")" @onclick="@(() => OnClick(tag.Id))">@tag.Name</span>
        }
    }
}

@code {

    void OnClick(Guid key)
    {
        if (SelectedValues.Contains(key))
        {
            SelectedValues.Remove(key);
        }
        else
        {
            SelectedValues.Add(key);
        }
        Console.WriteLine(string.Join(",", SelectedValues.Select(n => $"{n}")));
    }
}
